* {
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 30px 0 30px 0;
  background: url(/images/books.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 220vh;
  height: 50vh;
  color: lightyellow;
  text-align: center;
}
header h1 {
  display: inline;
  margin-left: 15px;
  font-weight: 300;
}
.search-area {
  text-align: center;
}
.list {
  display: flex;
  flex-direction: column;
}
